.App {
  text-align: center;
}

.App-logo-horaire {
  animation: App-logo-spin-horaire infinite 20s linear;
  height: 40vmin;
}

.App-logo-anti-horaire {
  animation: App-logo-spin-anti-horaire infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin-horaire {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-anti-horaire {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
